body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
    
}

.container{
    margin: auto;
}

.top{
    margin: auto;
    text-align: center;
    background: #1b3f8b;
    color: white;
    margin-bottom: 40px;
    border-radius: 5px;
    
    
}

.title{
    margin: auto;
    padding: 20px;
}

header{
    background: #14113f;
    color: white;
    padding: 0 10px;
    
}

.search-parameters{
    border: 2px solid black;
    margin-bottom: 40px;
    border-radius: 5px;
    
}

ul{
    list-style-type: none;
    padding: 0 10px;
}


label{
    height: 20px;
    margin: 0;
    font-weight: bold;
    
}

label,
input[type=text]{
    display: block;
    width: 100%;
    font-size: 14px;
    margin-bottom: 5px;
  
}

input{
    width: 100%;
}

button{
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: lightslategray;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
}

button:hover{
    border: 3px solid skyblue;
}


.top-articles{
    border: 2px solid black;
    border-radius: 5px;
}

.result-entry {
    background-color: lightgray;
    padding: 1%;
    width: 98%;
    margin: 1% auto;
    border: 1px black solid;
    border-radius: 5px;
}

.result-entry a {
    text-decoration: none;
    color: black;
}